@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script&family=Great+Vibes&family=Sacramento&family=Allura&family=Satisfy&family=Lobster&family=Courgette&family=Parisienne&display=swap');
.body, html {
  margin: 0;
  padding: 0;
  background: #000000;
}
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border: 2px dotted yellow;
  border-radius: 15px;
  padding: 30px;
  width: 450px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(246, 243, 243, 0.5);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 20px;
}
.logo {
  width: 60px;
  height: 60px;
}
.title {
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #fffb1b); /* gradient colors */
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  margin: 0;
  font-family: "Brush Script MT", cursive; 
}
.rules {
  text-align: left;
  line-height: 1.8;
  font-size: 16px;
  padding-left: 20px;
   color:#3053d0;
   font-family: "Courgette", cursive;



 
}